mixin input(options={})
  - let {mods = 'standart',inType="email", text="Email", filter=true, subscription=false}=options
  - 
    let modList = mods.split(',')
    let allMods = ''
    
    modList.forEach(function (mod) {
    allMods = allMods + ' input_' + mod.trim()
    })

  if filter
    
   input.input(class= allMods, type=inType, placeholder= text)
   
  else if subscription

   .subscription
      input(placeholder=text type=inType class="input_standart subscription__input"+className,data-validate-field='email')
      button(type="submit").subscription__button

  else  
   .container-filter
    input(class='container-filter__input datepicker-new' type='text' placeholder="19 авг - 23 авг")

