mixin dropdown-counters({title="",max="10",min="0",number="0"}={})
  .dropdown-counters
    .dropdown-counter__name
      h3.dropdown-counters__title= title
    .dropdown-counters__controls
      button.dropdown-counters__button.dropdown-counters__minus(type="button") -
      input.dropdown-counters__value(
        value=number,
        min=min,
        max=max,
        type="number"
      )
      button.dropdown-counters__button.dropdown-counters__plus(type="button") +
