mixin text-field(options)
  - const { inType, mods = "standart", text = "Email", button, mod, data, label } = options;
  
  .text-field
    label.text-field__label= label
      input.text-field__input_standart(
        type=inType,
        placeholder=text,
        class=`text-field_${mods}`,
        data-date-format=data
      )
    if button
      button(class=mod, type='submit')= button
