mixin person-comment({title,text,content,png,mod,checked}={})
  .person-comment
    img.person-comment__icon(
      src=`../../src/blocks/person-comment/images/${png}.png`
    alt="Аватарка")
    .person-comment__block
      .person-comment__name= title
      .person-comment__date= text
  .person-comment
    .person-comment__like
      +like({number: mod,checked: checked})
    span.person-comment__text= content
