mixin title({mods='standart',title=""}={})
  - 
    let modList = mods.split(',')
    let allMods = ''
    
    modList.forEach(function (mod) {
    allMods = allMods + ' title_' + mod.trim()
    })
    
  h3.title(class= allMods)= title

mixin title-price (text,price,mods,className="number-container__text",classlux="number-container__lux")
   .title-price
      .number-container
       span.number-container__title № 
       span(class=""+className)= text
       span(class=""+classlux)= mods
      .number-container
       .number-container__price= price
       .number-container__duration в сутки

mixin reviews(number,name,check)
 .reviews
  +rate-button(name,check)
  .reviews-container
   .reviews-container__number= number
   .reviews-container__text Отзывов

