mixin title(title,name ="title")

    h3(class=''+name)= title

mixin large-title(title)

   h2.large-title= title

mixin title-number (text,price,mods,className="number-container__text")
   .title-number
      .number-container
       span.number-container__title № 
       span(class=""+className)= text
       span.number-container__lux= mods
      .number-container
       .number-container__price= price
       .number-container__duration в сутки

mixin reviews(number,name,check)
 .reviews
  +rate-button(name,check)
  .reviews-container
   .reviews-container__number= number
   .reviews-container__text Отзывов