mixin datepicker-dabl(text2='ДД.ММ.ГГГГ',text='ДД.ММ.ГГГГ')
  .datepicker-box
    input.js-datepicker-dabl.input_filter.js-datepicker-start(
      placeholder="" + text,
      type='text',
      data-position='bottom left'
    )
  .datepicker-box
    input.text.js-datepicker-end.input_filter.js-datepicker-dabl(
      placeholder="" + text2,
      data-position='bottom center'
    )

mixin datepicker
  .js-datepicker-dabl
