mixin checkbox(title,text)
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__title= title
      .checkbox-items__text= text
mixin checkbox-button(check)
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Можно курить
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" checked=check class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Можно с питомцами
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" checked=check class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Можно пригласить гостей<br>(до 10 человек)

mixin checkbox-list(mods="",mod="",check)
  .checkbox-accordion
   .checkbox-list
    button.checkbox-list__button expandable checkbox list
    i(class=""+mods).material-icons.checkbox-list__icon expand_more
   div(class=""+mod).checkbox-wrapper
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Завтрак
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" checked=check class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Письменный стол
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" checked=check class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Стул для кормления
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" checked=check class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Кроватка
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Телевизор
    .checkbox-items
     label.checkbox-items__label
      .checkbox-items__container
       input(type="checkbox" class="checkbox-items__input")
       span.checkbox-items__style
      .checkbox-items__text Шампунь