mixin formlux({data})
  - const { price, startData, endData, title, dropdown, cost, text, tax, btn, discount, mod } = data

  form.card-lux.js-price
    .card-lux__container
      .card-lux__price-mix
        +price(price)
      .card-lux__calendar.js-datepicker-container
        .card-lux__datepicker
          +datepicker(startData)
        .card-lux__datepicker
          +datepicker(endData)
      .card-lux__title
        +title(title)
      .card-lux__dropdown
        +dropdown(dropdown)

      .card-lux__wrapper 
        .card-lux__price
          span.card-lux__text.card-lux__text_position-left.js-price= cost
          span.card-lux__text.js-sum 39 960₽
        .card-lux__price
          span.card-lux__text.card-lux__text_position-left= text
            span.card-lux__discount.js-discount= discount
            span.card-lux__label i
          span.card-lux__text.js-discountOut 0₽
        .card-lux__price
          .card-lux__text= tax
            span.card-lux__label i
          .card-lux__text.js-service 300₽
    .card-lux__bottom(class=mod)
      .card-lux__wrap
        .card-lux__sum Итого
        .card-lux__border
        .card-lux__sum.js-total 38 081₽
    .card-lux__button
      +button(btn)
